# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.tar.gz
*.whl
*.egg
.venv/
venv/
.env

# Editor/OS
.DS_Store

# Flatpak / build outputs
build-dir/
.flatpak-builder/

.vscode
.fish_history_local
